th{
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  padding: 5px;
  height: 20px;
}

tr{
  overflow-y: scroll;
}
td{
  text-align: center;
  padding: 5px;
  border: 1px solid red;
}

table{
  height: 100vh;
  position: relative;
  top: 20%;
  left: 50%;
  transform: translate(-50%);
}

.total{
  position: sticky;
  bottom: 0;
}

input{
  position: sticky;
  left: 0;
  top: 5%;
}